<section class="writing">
  <h2>
    {% if page.type == "homePage" %}
      He doesn&rsquo;t always write in<br class="mobile"> third person, <br class="tablet"> but when he does,<br class="mobile"> it&rsquo;s him that&rsquo;s doing it.
    {% else %}
      More posts
    {% endif %}
  </h2>

  {% if page.type == "homePage" %}
  {% assign postlimit = 3 %}
  {% else %}
  {% assign postlimit = 9 %}
  {% endif %}

  <ul class="writing">
    {% for post in site.categories.blog limit: postlimit %}

    <li>
      <a href="{{post.url}}">
        <h3 class="title">{{post.boxTitle}}</h3>
        <p class="date">&mdash; {{post.date | date: "%m.%d.%Y"}} &mdash;</p>
      </a>
    </li>

    {% endfor %}
  </ul>
  <p>Check out his other posts on <a href="/blog">his Internet web log.</a></p>
</section>