<section id="work">
  <h2>
    {% if page.type == "homePage" %}
      He has the nerve to make you<br class="mobile"> wait this long to see his work.
    {% else %}
      More case studies
    {% endif %}
  </h2>

  <ul class="work">
    {% for project in site.categories.work limit: 9 %}

    <li>
      <a href="{{project.url}}">
        <h3 class="title">{{project.title}}</h3>
        <p class="description">{{project.boxDescription}}</p>
      </a>
    </li>

    {% endfor %}
  </ul>
</section>