<section id="work">
  {% if page.type == "homePage" %}
    <h2>Joel would like to warn you,<br class="mobile"> this is a text-heavy portfolio.</h2>
    <p>These case studies are meant to provide insight<br class="mobile"> into his thought processes,<br class="tablet"> but feel free to just<br class="mobile"> look at the pretty pictures.</p>
  {% else %}
    <h2>More action-packed case studies</h2>
  {% endif %}


  <ul class="work">
    {% for project in site.categories.work limit: 9 %}

    {% if project.title == page.title %}

    <li class="current">
      <a>
        <h3 class="title">{{project.title}}</h3>
        <p class="description">You&rsquo;re already in me! :)</p>
      </a>
    </li>

    {% else %}

    <li>
      <a href="{{project.url}}">
        <h3 class="title">{{project.title}}</h3>
        <p class="description">{{project.boxDescription}}</p>
      </a>
    </li>

    {% endif %}

    {% endfor %}
  </ul>
</section>