@import nib

// Global Layout
global-reset()

*
  box-sizing border-box

section, header
  padding: 1rem

// Global Typography
*
  font-family "omnes-pro", sans-serif

html
  font-size 16px
  text-align center

h1, h2, h3, h4
  font-family "freight-big-pro", serif
  font-weight bold

h1
  font-size 2.5rem
  line-height 2.5rem

h2
  font-size 1.8rem
  font-weight 500
  line-height 2.2rem
  margin-bottom 0.5rem

h3
  font-size: 1.2rem

p
  font-size 1rem
  line-height: 1.4rem

a
  text-decoration none
  border-bottom: 1px solid #3a84bf
  color #3a84bf
  &:hover
    color lighten(#3a84bf, 30%)
    border-color lighten(#3a84bf, 30%)


// Homepage
//// Header

header
  width 100%
  padding-top 0

  h1
    margin-top 0.5rem

  img
    display block
    width 70%
    max-width 15rem
    margin 0 auto


//// Sections
section
  h2
    margin-top 2.5rem

////// Way too much work on this stupid button
.oldButton
  position relative
  background linear-gradient(top, #365baa, #81c8ea) 
  padding 0 0.4rem 0.2rem
  border-radius 100px
  box-shadow #aaa 0 0.3rem 1rem
  border 1px solid #3b62ae
  display inline-block 
  &:hover
    background linear-gradient(top, lighten(#365baa, 10%), lighten(#81c8ea, 10%)) 
  &:after
    position absolute
    display block
    top 0
    left 5%
    content ''
    border-radius 100px
    width 90%
    padding 0.5rem 0
    background linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0))
  &:active
    box-shadow #aaa 0 0.1rem 1rem
    top 0.1em
    &:after
      padding 0.1rem 0
      width 88%
      left 6%
      top 0
      border-radius 10px 10px 0 0 / 5px 5px 0 0
      opacity 0.7
    &:before
      display block
      content ''
      position absolute
      background darken(#254ca2,50%)
      margin-top 0.5rem
      width 80%
      left 10%
      padding 0.3rem 0
      box-shadow 0px 0px 15px black, 0 0 30px white
      opacity 0.2

////// Delight
h2.delight
  span.animate
    font-weight bold
    position relative
    height 3em
    display inline-block
    vertical-align bottom
    span
      display inline-block
      position relative
      margin-top 1.8em
      transition margin-top 0.1s linear

  &:hover
    span.animate span
      margin-top 0
      transition margin-top 0.3s ease-in-out


