@import nib

// Global Layout
global-reset()

*
  box-sizing border-box

section, header, footer
  padding 1rem 2rem
  max-width 63rem
  margin-left auto
  margin-right auto

// Global Typography

*
  font-family "freight-sans-pro", sans-serif

html
  font-size 16px
  text-align center

h1, h2, h3, h4
  font-family "freight-big-pro", serif
  font-weight bold

h1
  font-size 2.5rem
  line-height 2.5rem

h2
  font-size 1.8rem
  font-weight 500
  line-height 2.2rem
  margin-bottom 0.5rem

h3
  font-size: 1.4rem
  line-height: 1.6rem

p
  font-size 1rem
  line-height: 1.4rem

a
  color #ed5029
  text-decoration none
  &:hover
    color #f19929

.tablet, .full
  display none


// Homepage
//// Header

header
  width 100%
  padding-top 0
  text-align center

  h1
    margin-top 1rem
  p
    margin-top: 1rem
    font-size 1.2rem
    line-height 1.8rem

  img
    display block
    width 70%
    max-width 15rem
    margin 0 auto


//// Sections
section
  &:before
    content 'i'
    text-align center
    border 1px solid #999
    color #999
    background white
    outline: 1rem solid white
    margin 2rem auto -2rem
    width 2rem
    height 2rem
    display block
    border-radius 2rem
    font-family "freight-big-pro", serif
    font-style italic
    font-size 1.8rem

  h2
    margin-top 2.5rem

.currentStuff
  li
    width 90%
    margin 1.5rem auto 2rem
    .role
      font-size: 1.2rem
      margin-bottom 0.3rem
      text-transform uppercase
      em
        font-weight bold
    
        
    .org
      background-size: 100% 100%
      max-width 40em
      margin 0 auto
      padding 1rem
      text-align center
      position relative
      .orgInfo
        padding 2rem
        border 2px solid white
        .logo
          -webkit-filter drop-shadow( 0 0 30px rgba(0,0,0,0.3) )
          max-width 8rem

        .description
          color white
          line-height 1.4rem
          margin-top 1rem
          text-shadow 0 0 30px rgba(0,0,0,0.6)

    &.designCode
      .role
        //color darken(#f36235,10%)
      .org
        background-image url('../images/nowbg1.jpg')
        .logo
          width 50%
          margin-bottom .5rem
    &.designHack
      .role
        //color darken(#ee8020,10%)
      .org
        background-image url('../images/nowbg2.jpg')
        .orgInfo
          padding-top 1.2rem
        .logo
          width 60%
    &.amicus
      .role
        //color darken(#5b9933,10%)
      .org
        background-image url('../images/nowbg3.jpg')
        .orgInfo
          padding-top 1.5rem
        .logo
          width 80%
          margin-bottom .5rem


////// Way too much work on this stupid button
.oldButton
  position relative
  background linear-gradient(top, #365baa, #81c8ea) 
  padding 0 0.4rem 0.2rem
  border-radius 100px
  box-shadow #aaa 0 0.3rem 1rem
  border 1px solid #3b62ae
  display inline-block 
  &:hover
    background linear-gradient(top, lighten(#365baa, 10%), lighten(#81c8ea, 10%)) 
  &:after
    position absolute
    display block
    top 0
    left 5%
    content ''
    border-radius 100px
    width 90%
    padding 0.5rem 0
    background linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0))
  &:active
    box-shadow #aaa 0 0.1rem 1rem
    top 0.1em
    &:after
      padding 0.1rem 0
      width 88%
      left 6%
      top 0
      border-radius 10px 10px 0 0 / 5px 5px 0 0
      opacity 0.7
    &:before
      display block
      content ''
      position absolute
      background darken(#254ca2,50%)
      margin-top 0.5rem
      width 80%
      left 10%
      padding 0.3rem 0
      box-shadow 0px 0px 15px black, 0 0 30px white
      opacity 0.2

////// Delight

$offset = -2rem
$duration = 0.6s
$letters = (1..7)

@keyframes bounce
  0%, 100%
    transform translateY(0)
  30%, 65%
    transform translateY($offset)
    font-size 2rem
  90%
    transform translateY($offset * -0.1)

h2.delight
  &:hover
    color #f0582d
    transition none

  transition 0.7s color
  
  span.animate
    font-weight bold
    span
      display inline-block
      position relative

  &.animating
    span.animate span
      animation-duration $duration
      animation-name bounce

  for letter in $letters
    span.animate span:nth-child({letter})
      animation-delay 0.04s * letter

.delight p {
  opacity 0
  position relative
  z-index -1
  margin-top -2rem
  transition all 0.2s
  &.shown {
    opacity 1
    margin-top 0
  }
}
////// Work

// TODO replace with icons
// book
section.writing:before
  content 'w'

// pen
section#work:before
  content 'd'

// phone? mail? twitter logo?
section.contact:before
  content 'c'

li.project, li.post
  width 100%
  text-align center
  padding 1rem
  margin 1rem auto
  background-image url('../images/link2.jpg')
  background-size 100%
  a
    border 2px solid black
    padding 1rem
    display block
    color black
    position relative
    transition all 0.2s ease-in-out
    &:after
        content '\25b6'
        display block
        top 50%
        right -0.8rem
        position absolute
        color white
        font-size 0.6rem
        margin-top -0.3rem
        opacity 0
    
    &:hover
      background rgba(255,255,255,0.6)
      transition all 0.1s linear
      border-right-width 1rem
      &:after
        opacity 1

    h3
      margin-bottom 0.5rem
      font-family "freight-sans-pro", sans-serif
      font-weight 600

    // Check if this can even work anymore
    &:visited, &.seen
      opacity 0.3
      &:before
        content '\2713  Seen'
        display block
        position absolute
        top 0.5rem
        left 0.5rem
      &:hover
        opacity 1

  &.post
    background-image url('../images/link1.jpg')
    h3
      font-weight 400


footer
  margin-top 4rem
  h3
    margin-bottom 0.5rem
    font-weight normal


@media all and (min-width: 45rem)
  .mobile
    display none
  .tablet
    display inline

  ul.work
    clearfix()
    li.project
      width 48%
      float left
      margin-right 4%
      &:nth-child(2n)
        margin-right 0
      a
        padding-top 1.4rem
        height 8rem


@media all and (min-width: 65rem)
  .tablet
    display none
  .full
    display inline

  html
    text-align left

  section
    padding-top 4rem
    &:before
      position absolute
      margin-left -3.5rem
      margin-top 2.5rem

  header p
    margin-top 0.5rem

  ul.writing, ul.currentStuff
    clearfix()

  .writing > p
    text-align right

  li.post, .currentStuff li
    .mobile
      display inline

  ul.work li.project, ul.writing li.post, ul.currentStuff li
    float left
    width 31% !important
    margin-right 3.5%
    &:nth-child(2n)
      margin-right 3.5%
    &:nth-child(3n)
      margin-right 0

  ul.work li.project a, ul.writing li.post a
    padding-top 1.3rem
    height 8rem

  .orgInfo
    height 17rem
  
  .currentStuff
    li
      margin-top 0.5rem

      &.designHack .orgInfo .logo
        margin .9rem auto .475rem

      &.amicus .orgInfo .logo
        margin 2.95rem auto 2.95rem


@media all and (min-width: 80rem)

  section, header, footer
    max-width 73rem
    padding-left 10rem
    position relative


  header
    text-align left

    img
      position absolute
      margin-left -16rem
      margin-top -1rem
    h1
      padding-top 2.5rem
      font-size 2.8rem
    p
      padding-left 1rem

  section:after
    border-left: 1px dashed #999
    z-index -1
    content ''
    height 100%
    display block
    position absolute
    top 0
    left 7.5rem

  header:after
    border-right: 1px dashed #999
    border-top: 1px dashed #999
    z-index -1
    content ''
    height 3rem
    width 3rem
    display block
    position absolute
    bottom 0
    left 4.5rem
    border-radius 0 2rem 0 0



  