html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section,
header {
  padding: 1rem;
}
* {
  font-family: "omnes-pro", sans-serif;
}
html {
  font-size: 16px;
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-family: "freight-big-pro", serif;
  font-weight: bold;
}
h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
h2 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1.2rem;
}
p {
  font-size: 1rem;
  line-height: 1.4rem;
}
a {
  text-decoration: none;
  border-bottom: 1px solid #3a84bf;
  color: #3a84bf;
}
a:hover {
  color: #73a9d4;
  border-color: #73a9d4;
}
header {
  width: 100%;
  padding-top: 0;
}
header h1 {
  margin-top: 0.5rem;
}
header img {
  display: block;
  width: 70%;
  max-width: 15rem;
  margin: 0 auto;
}
section h2 {
  margin-top: 2.5rem;
}
.oldButton {
  position: relative;
  background: -webkit-linear-gradient(top, #365baa, #81c8ea);
  background: -moz-linear-gradient(top, #365baa, #81c8ea);
  background: -o-linear-gradient(top, #365baa, #81c8ea);
  background: -ms-linear-gradient(top, #365baa, #81c8ea);
  background: linear-gradient(to bottom, #365baa, #81c8ea);
  padding: 0 0.4rem 0.2rem;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: #aaa 0 0.3rem 1rem;
  box-shadow: #aaa 0 0.3rem 1rem;
  border: 1px solid #3b62ae;
  display: inline-block;
}
.oldButton:hover {
  background: -webkit-linear-gradient(top, #3d67c0, #8eceec);
  background: -moz-linear-gradient(top, #3d67c0, #8eceec);
  background: -o-linear-gradient(top, #3d67c0, #8eceec);
  background: -ms-linear-gradient(top, #3d67c0, #8eceec);
  background: linear-gradient(to bottom, #3d67c0, #8eceec);
}
.oldButton:after {
  position: absolute;
  display: block;
  top: 0;
  left: 5%;
  content: '';
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 90%;
  padding: 0.5rem 0;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0));
  background: -moz-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0));
  background: -o-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0));
  background: -ms-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0));
  background: linear-gradient(to bottom, rgba(255,255,255,0.7), rgba(255,255,255,0));
}
.oldButton:active {
  -webkit-box-shadow: #aaa 0 0.1rem 1rem;
  box-shadow: #aaa 0 0.1rem 1rem;
  top: 0.1em;
}
.oldButton:active:after {
  padding: 0.1rem 0;
  width: 88%;
  left: 6%;
  top: 0;
  -webkit-border-radius: 10px 10px 0 0/5px 5px 0 0;
  border-radius: 10px 10px 0 0/5px 5px 0 0;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.oldButton:active:before {
  display: block;
  content: '';
  position: absolute;
  background: #132651;
  margin-top: 0.5rem;
  width: 80%;
  left: 10%;
  padding: 0.3rem 0;
  -webkit-box-shadow: 0px 0px 15px #000, 0 0 30px #fff;
  box-shadow: 0px 0px 15px #000, 0 0 30px #fff;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
h2.delight span.animate {
  font-weight: bold;
  position: relative;
  height: 3em;
  display: inline-block;
  vertical-align: bottom;
}
h2.delight span.animate span {
  display: inline-block;
  position: relative;
  margin-top: 1.8em;
  -webkit-transition: margin-top 0.1s linear;
  -moz-transition: margin-top 0.1s linear;
  -o-transition: margin-top 0.1s linear;
  -ms-transition: margin-top 0.1s linear;
  transition: margin-top 0.1s linear;
}
h2.delight:hover span.animate span {
  margin-top: 0;
  -webkit-transition: margin-top 0.3s ease-in-out;
  -moz-transition: margin-top 0.3s ease-in-out;
  -o-transition: margin-top 0.3s ease-in-out;
  -ms-transition: margin-top 0.3s ease-in-out;
  transition: margin-top 0.3s ease-in-out;
}
