a[target="_blank"]:before
  content: '(external) ' //TODO replace with icon

.workPage
  header
    nav
      position relative
      width 30rem
      max-width 100%
      margin 0 auto
      padding-left 1rem
      a
        position absolute
        display block
        top 40%
        text-align center
        font-size 1.4rem
        &.home
          left 10%
        &.blog
          right 10%
    h1
      margin-top 2rem
      margin-bottom 0.5rem
    h3
      font-family "freight-sans-pro", sans-serif
      font-weight 400

  section
    padding-top 0
    text-align left
    max-width 45rem
    &:before
      display none

  section.work
    max-width 63rem
    margin-top 5rem


  figure
    clearfix()
    max-width 55em
    margin 2rem auto 0
    padding 0 2rem
    display block
    img
      max-width 100%
      border 2px solid #ddd
    figcaption
      margin-top -3px
      background #ddd
      padding 1rem
      line-height 1.3rem
      text-align center

  section figure
    margin 5rem -2rem 0

