html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  font-family: "freight-sans-pro", sans-serif;
}
html {
  font-size: 16px;
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-family: "freight-big-pro", serif;
  font-weight: bold;
}
h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
h2 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
p {
  font-size: 1rem;
  line-height: 1.4rem;
}
a {
  color: #ed5029;
  text-decoration: none;
}
a:hover {
  color: #f19929;
}
section,
header,
footer {
  padding: 1rem 2rem;
  max-width: 63rem;
  margin-left: auto;
  margin-right: auto;
}
header {
  width: 100%;
  padding-top: 0;
  text-align: center;
}
header h1 {
  margin-top: 1rem;
}
header p {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
header img {
  display: block;
  width: 70%;
  max-width: 15rem;
  margin: 0 auto;
}
section:before {
  content: 'i';
  text-align: center;
  border: 1px solid #999;
  color: #999;
  background: #fff;
  outline: 1rem solid #fff;
  margin: 2rem auto -2rem;
  width: 2rem;
  height: 2rem;
  display: block;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  font-family: "freight-big-pro", serif;
  font-style: italic;
  font-size: 1.8rem;
}
section h2 {
  margin-top: 2.5rem;
}
.currentStuff li {
  width: 90%;
  margin: 1.5rem auto 2rem;
}
.currentStuff li .role {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}
.currentStuff li .role em {
  font-weight: bold;
}
.currentStuff li .org {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  max-width: 40em;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  position: relative;
}
.currentStuff li .org .orgInfo {
  padding: 2rem;
  border: 2px solid #fff;
}
.currentStuff li .org .orgInfo .logo {
  -webkit-filter: drop-shadow(0 0 30px rgba(0,0,0,0.3));
  max-width: 8rem;
}
.currentStuff li .org .orgInfo .description {
  color: #fff;
  line-height: 1.4rem;
  margin-top: 1rem;
  text-shadow: 0 0 30px rgba(0,0,0,0.6);
}
.currentStuff li.designCode .org {
  background-image: url("../images/nowbg1.jpg");
}
.currentStuff li.designCode .org .logo {
  width: 50%;
  margin-bottom: 0.5rem;
}
.currentStuff li.designHack .org {
  background-image: url("../images/nowbg2.jpg");
}
.currentStuff li.designHack .org .orgInfo {
  padding-top: 1.2rem;
}
.currentStuff li.designHack .org .logo {
  width: 60%;
}
.currentStuff li.amicus .org {
  background-image: url("../images/nowbg3.jpg");
}
.currentStuff li.amicus .org .orgInfo {
  padding-top: 1.5rem;
}
.currentStuff li.amicus .org .logo {
  width: 80%;
  margin-bottom: 0.5rem;
}
.oldButton {
  position: relative;
  background: -webkit-linear-gradient(top, #365baa, #81c8ea);
  background: -moz-linear-gradient(top, #365baa, #81c8ea);
  background: -o-linear-gradient(top, #365baa, #81c8ea);
  background: -ms-linear-gradient(top, #365baa, #81c8ea);
  background: linear-gradient(to bottom, #365baa, #81c8ea);
  padding: 0 0.4rem 0.2rem;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: #aaa 0 0.3rem 1rem;
  box-shadow: #aaa 0 0.3rem 1rem;
  border: 1px solid #3b62ae;
  display: inline-block;
}
.oldButton:hover {
  background: -webkit-linear-gradient(top, #3d67c0, #8eceec);
  background: -moz-linear-gradient(top, #3d67c0, #8eceec);
  background: -o-linear-gradient(top, #3d67c0, #8eceec);
  background: -ms-linear-gradient(top, #3d67c0, #8eceec);
  background: linear-gradient(to bottom, #3d67c0, #8eceec);
}
.oldButton:after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 5%;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 90%;
  padding: 0.5rem 0;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));
  background: -moz-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));
  background: -o-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));
  background: -ms-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));
  background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0));
}
.oldButton:active {
  -webkit-box-shadow: #aaa 0 0.1rem 1rem;
  box-shadow: #aaa 0 0.1rem 1rem;
  top: 0.1em;
}
.oldButton:active:after {
  padding: 0.1rem 0;
  width: 88%;
  left: 6%;
  top: 0;
  -webkit-border-radius: 10px 10px 0 0/5px 5px 0 0;
  border-radius: 10px 10px 0 0/5px 5px 0 0;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.oldButton:active:before {
  display: block;
  position: absolute;
  content: '';
  background: #132651;
  margin-top: 0.5rem;
  width: 80%;
  left: 10%;
  padding: 0.3rem 0;
  -webkit-box-shadow: 0px 0px 15px #000, 0 0 30px #fff;
  box-shadow: 0px 0px 15px #000, 0 0 30px #fff;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.delight h2 {
  -webkit-transition: 0.7s color;
  -moz-transition: 0.7s color;
  -o-transition: 0.7s color;
  -ms-transition: 0.7s color;
  transition: 0.7s color;
}
.delight h2:hover {
  color: #f0582d;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.delight h2 span.animate {
  font-weight: bold;
}
.delight h2 span.animate span {
  display: inline-block;
  position: relative;
}
.delight h2.animating span.animate span {
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  -ms-animation-name: bounce;
  animation-name: bounce;
}
.delight h2 span.animate span:nth-child(1) {
  -webkit-animation-delay: 0.04s;
  -moz-animation-delay: 0.04s;
  -o-animation-delay: 0.04s;
  -ms-animation-delay: 0.04s;
  animation-delay: 0.04s;
}
.delight h2 span.animate span:nth-child(2) {
  -webkit-animation-delay: 0.08s;
  -moz-animation-delay: 0.08s;
  -o-animation-delay: 0.08s;
  -ms-animation-delay: 0.08s;
  animation-delay: 0.08s;
}
.delight h2 span.animate span:nth-child(3) {
  -webkit-animation-delay: 0.12s;
  -moz-animation-delay: 0.12s;
  -o-animation-delay: 0.12s;
  -ms-animation-delay: 0.12s;
  animation-delay: 0.12s;
}
.delight h2 span.animate span:nth-child(4) {
  -webkit-animation-delay: 0.16s;
  -moz-animation-delay: 0.16s;
  -o-animation-delay: 0.16s;
  -ms-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.delight h2 span.animate span:nth-child(5) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.delight h2 span.animate span:nth-child(6) {
  -webkit-animation-delay: 0.24s;
  -moz-animation-delay: 0.24s;
  -o-animation-delay: 0.24s;
  -ms-animation-delay: 0.24s;
  animation-delay: 0.24s;
}
.delight h2 span.animate span:nth-child(7) {
  -webkit-animation-delay: 0.28s;
  -moz-animation-delay: 0.28s;
  -o-animation-delay: 0.28s;
  -ms-animation-delay: 0.28s;
  animation-delay: 0.28s;
}
.delight p {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: relative;
  z-index: -1;
  margin-top: -2rem;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.delight p.shown {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  margin-top: 0;
}
#work > p {
  margin-bottom: 2rem !important;
}
.work li,
.writing li {
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;
  background-image: url("../images/link2.jpg");
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  background-position: 50% 50%;
  position: relative;
}
.work li a,
.writing li a {
  border: 2px solid #000;
  padding: 1rem;
  display: block;
  color: #000;
  height: 8rem;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 10;
  padding-top: 1.4rem;
  background: transparent;
  color: #000;
  border: 2px solid #000;
}
.work li a:hover,
.writing li a:hover {
  background: rgba(255,255,255,0.4);
  border: 2px solid #000;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-top: 10px solid #000;
  padding-top: 1.1rem;
/*&:after
        content '...'
        font-size 2rem
        color white
        top -1.35rem
        left -0.1rem
        width 1.5rem
        position absolute*/
}
.work li a h3,
.writing li a h3 {
  margin-bottom: 0.5rem;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 600;
}
.work li a.seen,
.writing li a.seen {
  color: #f00;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.work li a.seen:before,
.writing li a.seen:before {
  content: '\2713  Seen';
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.work li a.seen:hover,
.writing li a.seen:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
ul.writing li {
  background-image: url("../images/link1.jpg");
}
ul.writing li h3 {
  font-weight: 400;
}
section.writing:before {
  content: 'w';
}
section#work:before {
  content: 'd';
}
section.contact:before {
  content: 'c';
}
footer {
  padding-top: 4rem;
}
footer h3 {
  margin-bottom: 0.5rem;
  font-weight: normal;
}
a[target="_blank"]:before {
  content: '(external) ';
}
body.page h1,
body.page h2,
body.page nav {
  font-family: freight-big-pro, serif;
  text-align: left;
  width: 55rem;
  max-width: 90%;
  margin: 0 auto;
}
body.page h1 {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
body.page header {
  max-width: 100%;
  position: relative;
  padding: 0;
  margin-bottom: 2rem;
  width: 100%;
}
body.page header nav {
  position: relative;
  margin: 0 auto 3rem;
  padding-left: 1rem;
  text-align: right;
}
body.page header nav img {
  position: absolute;
  width: 6rem;
  right: -2rem;
  -webkit-transition: margin-top 1s ease-in-out;
  -moz-transition: margin-top 1s ease-in-out;
  -o-transition: margin-top 1s ease-in-out;
  -ms-transition: margin-top 1s ease-in-out;
  transition: margin-top 1s ease-in-out;
}
body.page header nav img:hover {
  margin-top: -2.5rem;
  padding-bottom: 2.5rem;
  -webkit-transition: margin-top 0.2s ease-out;
  -moz-transition: margin-top 0.2s ease-out;
  -o-transition: margin-top 0.2s ease-out;
  -ms-transition: margin-top 0.2s ease-out;
  transition: margin-top 0.2s ease-out;
}
body.page header nav a {
  display: inline-block;
  text-align: right;
  font-family: "freight-sans-pro", sans-serif;
  padding-left: 1rem;
  padding-top: 1.5rem;
  text-align: left;
  font-size: 1.4rem;
}
body.page header nav a.blog {
  margin-right: 5rem;
}
body.page header nav p {
  display: block;
  margin: 0;
}
body.page header h2 {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding-top: -0.5rem;
  text-align: left;
  border: 0;
}
body.page h2:before,
body.page section:before {
  display: none;
}
body.page .content {
  text-align: center;
}
body.page .content > p,
body.page .content section > p {
  padding-top: 0;
  text-align: left;
  width: 55rem;
  max-width: 90%;
  margin: 1.5rem auto 0;
  font-family: "freight-text-pro", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
body.page .content h2 {
  font-size: 1.8rem;
  text-align: left;
  font-family: "freight-sans-pro", sans-serif;
  border-bottom: 3px solid #000;
  padding-bottom: 0.1rem;
  margin: 3rem auto 0.8rem;
  font-weight: bold;
}
body.page .content img {
  max-width: 100%;
  margin: 2rem auto;
  display: block;
  border: 2px solid #ddd;
}
body.page .content figure {
  zoom: 1;
  max-width: 55em;
  margin: 2rem auto;
  display: inline-block;
  width: auto;
}
body.page .content figure:before,
body.page .content figure:after {
  content: "";
  display: table;
}
body.page .content figure:after {
  clear: both;
}
body.page .content figure img,
body.page .content figure video {
  max-width: 100%;
  border: 2px solid #ddd;
  margin: 0 auto;
}
body.page .content figure figcaption {
  margin-top: -3px;
  background: #ddd;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
}
body.page .content .message {
  text-align: left;
  margin: 30px 0;
  font-family: freight-sans-pro, sans-serif;
  position: relative;
  margin: 0 auto !important;
  margin-top: 2rem !important;
  width: 55rem;
  max-width: 90%;
}
body.page .content .message .contents {
  padding: 18px 26px 20px;
  margin-left: 30px !important;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: -10px;
  background: #eee;
}
body.page .content .message .contents li {
  list-style: circle;
  margin-left: 1rem;
}
body.page .content .message .details {
  height: 40px;
  font-family: freight-sans-pro, sans-serif;
}
body.page .content .message .senderName,
body.page .content .message .sentVia {
  margin-top: -2px;
  font-family: freight-sans-pro, sans-serif;
}
body.page .content .message .senderName {
  font-family: freight-sans-pro, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  display: inline-block;
  padding-left: 55px;
}
body.page .content .message .sentVia {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-left: 5px;
  text-align: right;
  font-size: 1rem;
  color: #bbb;
}
body.page .content .message .protocol {
  font-style: italic;
}
body.page .content .message .profilePic {
  background: #333;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 0;
  margin: 0;
}
body.page footer {
  margin: 3rem auto;
  padding-top: 0;
  text-align: center;
}
body.page section#work h2 {
  max-width: 100%;
  width: 100%;
}
body.page ul.work li.current {
  background-image: url("../images/grey.jpg");
}
body.page ul.work li.current a:hover {
  border: 2px solid #000;
  background: transparent;
  padding-top: 1.4rem;
}
body.page section.writing h2 {
  max-width: 100%;
  width: 100%;
}
body.page ul.writing li.current {
  background-image: url("../images/grey.jpg");
}
body.page ul.writing li.current a:hover {
  border: 2px solid #000;
  background: transparent;
  padding-top: 1.4rem;
}
@media all and (min-width: 45rem) {
  body.page header h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .content h2 {
    font-size: 2rem;
    margin: 2rem auto 1rem;
  }
  .current {
    display: block !important;
  }
}
@media all and (min-width: 65rem) {
  body.page header h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  body.page header h2 {
    padding-top: 0;
  }
  body.page .content,
  .page header {
    padding: 0;
  }
}
.tablet,
.full {
  display: none;
}
.mobile {
  display: inline;
}
@media all and (min-width: 45rem) {
  .mobile {
    display: none;
  }
  .tablet {
    display: inline;
  }
  figure.tablet {
    display: block;
  }
  ul.work {
    zoom: 1;
  }
  ul.work:before,
  ul.work:after {
    content: "";
    display: table;
  }
  ul.work:after {
    clear: both;
  }
  ul.work li {
    width: 48%;
    float: left;
    margin-right: 4%;
  }
  ul.work li:nth-child(2n) {
    margin-right: 0;
  }
  ul.writing li a {
    height: 6.6rem;
  }
  #work > p {
    margin-bottom: 1rem !important;
  }
}
@media all and (min-width: 65rem) {
  .tablet {
    display: none;
  }
  .full {
    display: inline;
  }
  figure.full,
  iframe.full,
  p.full {
    display: block;
  }
  html {
    text-align: left;
  }
  section {
    padding-top: 4rem;
  }
  section:before {
    position: absolute;
    margin-left: -3.5rem;
    margin-top: 2.5rem;
  }
  header p {
    margin-top: 0.5rem;
  }
  ul.writing,
  ul.currentStuff {
    zoom: 1;
  }
  ul.writing:before,
  ul.currentStuff:before,
  ul.writing:after,
  ul.currentStuff:after {
    content: "";
    display: table;
  }
  ul.writing:after,
  ul.currentStuff:after {
    clear: both;
  }
  .writing > p {
    text-align: right;
  }
  #work > p {
    margin-bottom: 0.7rem !important;
  }
  ul.writing li .mobile,
  .currentStuff li .mobile {
    display: inline;
  }
  ul.work li,
  ul.writing li,
  ul.currentStuff li {
    float: left;
    width: 31% !important;
    margin-right: 3.5%;
  }
  ul.work li:nth-child(2n),
  ul.writing li:nth-child(2n),
  ul.currentStuff li:nth-child(2n) {
    margin-right: 3.5%;
  }
  ul.work li:nth-child(3n),
  ul.writing li:nth-child(3n),
  ul.currentStuff li:nth-child(3n) {
    margin-right: 0;
  }
  ul.work li a,
  ul.writing li a {
    height: 8rem !important;
  }
  .currentStuff li {
    margin-top: 0.5rem;
  }
  .currentStuff li.designCode .orgInfo .logo {
    margin-top: 1.5rem;
    width: 6rem;
  }
  .currentStuff li.designHack .orgInfo .logo {
    margin-top: 1.4rem;
    width: 7rem;
  }
  .currentStuff li.amicus .orgInfo .logo {
    margin-top: 3.5rem;
    width: 8rem;
    max-width: 8rem;
  }
  .currentStuff .org {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    position: relative;
  }
  .currentStuff .org .orgInfo {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0 !important;
    height: 10rem;
    -webkit-transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .currentStuff .org .orgInfo div.img {
    background: #f00;
    position: relative;
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("images/nowbg1.jpg");
    top: 0;
    right: 0;
  }
  .currentStuff .org .orgInfo div.description {
    background: #fff;
    color: #000;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    text-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    margin-top: 0;
    padding: 0;
  }
  .currentStuff .org .orgInfo div.description span {
    margin-top: 2.7rem;
    display: block;
  }
  .currentStuff .org:hover .orgInfo {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
  }
}
@media all and (min-width: 80rem) {
  h1 {
    font-size: 2.8rem;
  }
  .homePage section,
  .homePage header,
  .homePage footer {
    max-width: 73rem;
    padding-left: 10rem;
    position: relative;
  }
  .homePage header {
    text-align: left;
  }
  .homePage header img {
    position: absolute;
    margin-left: -16rem;
    margin-top: -1rem;
  }
  .homePage header h1 {
    padding-top: 2.5rem;
  }
  .homePage header p {
    padding-left: 1rem;
  }
  .homePage section:after,
  .homePage footer:after {
    display: block;
    position: absolute;
    content: '';
    border-left: 1px dashed #999;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 7.5rem;
  }
  .homePage header:after {
    display: block;
    position: absolute;
    content: '';
    border-right: 1px dashed #999;
    border-top: 1px dashed #999;
    z-index: -1;
    height: 3rem;
    width: 3rem;
    bottom: 0;
    left: 4.5rem;
    -webkit-border-radius: 0 2rem 0 0;
    border-radius: 0 2rem 0 0;
  }
}
@-moz-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  30%, 65% {
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    transform: translateY(-2rem);
    font-size: 2rem;
  }

  90% {
    -webkit-transform: translateY(0.2rem);
    -moz-transform: translateY(0.2rem);
    -o-transform: translateY(0.2rem);
    -ms-transform: translateY(0.2rem);
    transform: translateY(0.2rem);
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  30%, 65% {
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    transform: translateY(-2rem);
    font-size: 2rem;
  }

  90% {
    -webkit-transform: translateY(0.2rem);
    -moz-transform: translateY(0.2rem);
    -o-transform: translateY(0.2rem);
    -ms-transform: translateY(0.2rem);
    transform: translateY(0.2rem);
  }
}
@-o-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  30%, 65% {
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    transform: translateY(-2rem);
    font-size: 2rem;
  }

  90% {
    -webkit-transform: translateY(0.2rem);
    -moz-transform: translateY(0.2rem);
    -o-transform: translateY(0.2rem);
    -ms-transform: translateY(0.2rem);
    transform: translateY(0.2rem);
  }
}
@-ms-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  30%, 65% {
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    transform: translateY(-2rem);
    font-size: 2rem;
  }

  90% {
    -webkit-transform: translateY(0.2rem);
    -moz-transform: translateY(0.2rem);
    -o-transform: translateY(0.2rem);
    -ms-transform: translateY(0.2rem);
    transform: translateY(0.2rem);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  30%, 65% {
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    transform: translateY(-2rem);
    font-size: 2rem;
  }

  90% {
    -webkit-transform: translateY(0.2rem);
    -moz-transform: translateY(0.2rem);
    -o-transform: translateY(0.2rem);
    -ms-transform: translateY(0.2rem);
    transform: translateY(0.2rem);
  }
}
